---
const { class: className, text }: Record<string, any> = Astro.props;
const classNames = className as string;
---

<div class={classNames}>
	<form action="/search" method="get" class="flex h-full justify-end flex-none items-center">
		<input type="text" value={text} name="q" class="border rounded-md h-10 p-2" placeholder="find" />
	</form>
</div>
