---
import colors from '@themes/colors';

const { text } = Astro.props;
---

<a class="rounded rounded-md flex border inline-flex py-1 px-3 uppercase text-white" style={`background-color: ${colors.yellow}; font-size: 12px;`}>
	{text}
</a>
